@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#170b30];
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.btn {
  @apply bg-[#a0b0c0] text-white px-6 py-2 rounded-lg text-sm hover:bg-[#a0b0c0] transition-all duration-200;
}
